<div class="row" class="well" class="good-life">
  <div class="col col-sm-12">
    <h2 class="good-life">What Is A Good Life?</h2>
    <p>A good life, in a simplistic view can be measured on a daily basis.</p>
    <p>How do we do this?</p>
    <p>At the end our day, we can only have 2 possible views of how our life in that single day was. Good? Bad? More Good than Bad? More Bad than Good? By this act of introspection, we could then stretch that concept of measurement into days, weeks, months, years.. A lifetime.
      Is this wizardy? No. <br>But if a bad day was followed by more bad days, would the Quality of Life be bad? Yes. And if the good days are followed by good days, is the Quality of Life good? Yes. <br>But what if they were very intermixed?</p>
    <p>With so many variables, how do you make heads or tails in application of this knowledge?</p>
    <p>You resolve to end the day happy. Good or bad, it is your ability and outlook that will determine how you handle adversity.</p>
  </div>
</div>

<div>
  <h3><a href="https://en.wikipedia.org/wiki/Work%E2%80%93life_balance">Work Life Balance</a></h3> Work–life balance is a concept including proper prioritizing between "work" (career and ambition) and "lifestyle" (health, pleasure, leisure, family and spiritual development/meditation). This is related to the idea of lifestyle choice.</div>

<div>
  <h3><a href="http://www.focusonthefamily.com/family-q-and-a/parenting/cultivating-family-togetherness">Quality Time</a></h3> Quality time is essential to the process of social bonding. It's the stuff of which relationships are made. It's the polished gem that caring people fashion from the raw material of moments, hours, and days spent together. The thing to note is that
  it's difficult to isolate Quantity from Quality. The more family time we create, the more opportunities we have to touch each other's lives in profound ways. You can't seize the if you're not there to do the seizing. It isn't always possible to cram meaningful
  memories and life-changing conversations into a few minutes of contrived quality time.</div>
</div>
</div>
