<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-horizontal" role="form">
      <fieldset>

        <!-- Form Name -->
        <legend class="legend-data">Required Data </legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="textinput"  class="left-align">Username</label>
          <div class="col-sm-8">
            <input type="text" placeholder="This field is required to retrieve your record" class="form-control">
          </div>
        </div>

        <!-- Text input-->
        <!-- <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Password</label>
          <div class="col-sm-10">
            <input type="text" placeholder="NSA needs to know your password" class="form-control">
          </div>
        </div> -->

        <!-- Text input-->
        <!-- <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Email</label>
          <div class="col-sm-10">
            <input type="text" placeholder="NSA needs your Email@Address.com" class="form-control">
          </div>
        </div> -->

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="textinput"  class="left-align">Age</label>
          <div class="col-sm-8">
            <input type="text" placeholder="Your age" class="form-control">
          </div>

          <!-- <label class="col-sm-2 control-label" for="textinput"  class="left-align">Postcode</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Post Code" class="form-control">
          </div> -->
          <label class="col-sm-4 control-label" for="textinput"  class="left-align">Work</label>
          <div class="col-sm-8">
            <input type="text" placeholder="Hours per day you are for rent" class="form-control">
          </div>

          <label class="col-sm-4 control-label" for="textinput"  class="left-align">Sleep</label>
          <div class="col-sm-8">
            <input type="text" placeholder="Total hours of practicing death" class="form-control">
          </div>
          <label class="col-sm-4 control-label" for="textinput"  class="left-align">Social</label>
          <div class="col-sm-8">
            <input type="text" placeholder="Time spent grooming others" class="form-control">
          </div>
        </div>
  </div>



  <!-- Text input-->
  <!-- <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Bio</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Country" class="form-control">
          </div>
        </div> -->

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <div class="pull-right">
        <button ng-click="" type="submit" class="btn btn-default">Cancel</button>
        <button ng-click="" type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>

  </fieldset>
  </form>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
